<table>
    <tr *ngFor="let row of board; let r = index">
        <td *ngFor="let value of row; let c = index">
            <button *ngIf="active[r][c]; else inactive" mat-flat-button color="accent" (click)="toggle(r, c)">{{value}}</button>
            <ng-template #inactive><button mat-stroked-button color="accent" (click)="toggle(r, c)">{{value}}</button></ng-template>
        </td>
        <td class="total">{{rowTarget[r]}}</td>
    </tr>
    <tr>
        <td *ngFor="let value of colTarget">{{value}}</td>
        <td></td>
    </tr>
</table>