@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@layer components {
    .btn {
        /* inline-block */
        display: inline-block;
        background-color: var(--color-sky-600);
        color: var(--color-white);
        outline-color: var(--color-black);
        /* rounded-2xl */
        border-radius: var(--radius-2xl);
        /* px-8 */
        padding-inline: calc(var(--spacing) * 8);
        /* py-2 */
        padding-block: calc(var(--spacing) * 2);
        /* outline-2 */
        outline-style: var(--tw-outline-style);
        outline-width: 2px;
        /* mx-2 */
        margin-inline: calc(var(--spacing) * 2);
        /* my-2 */
        margin-block: calc(var(--spacing) * 2);
        /* text-center */
        text-align: center;
    }
}
